body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#timer {
  font-size: 40px;
  margin-bottom: 30px;
}

#container {
  font-size: 18px;
  width: 80%;
  height: auto;
  min-height: 400px;
}

#worker {
  font-size: 36px;
  padding: 40px;
  width: 50%;
  text-align: center;
  justify-self: center;
}

#contentName {
  margin-top: 0;
  margin-bottom: 50px;
}

#workerTotal {
  align-self: center;
}

#startButton {
  padding: 10px 30px;
  font-size: 18px;
}
