body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#timer {
  font-size: 40px;
  margin-bottom: 30px;
}

#container {
  display: flex;
  font-size: 18px;
  width: 80%;
  margin-bottom: 30px;
}

#worker,
#company {
  font-size: 36px;
  padding: 40px;
  width: 50%;
  text-align: center;
}

#startButton {
  padding: 10px 30px;
  font-size: 18px;
}
